{% include 'header.html' %}

<!-- Enable location access -->
<div class="card">
 <div class="title">
  <h1><i class="fa fa-compass"></i> Tillat lokasjonsoppslag</h1>
 </div>

 <p>Geolokasjon innebærer et forsøk på å bestemme ens posisjon, så nøyaktig som mulig, basert på informasjon som er tilgjengelig for nettleseren. På stasjonære datamaskiner er gjerne kun IP-adressen tilgjengelig, mens det på mobile enheter kan benyttes triangulering eller GPS for å fastlå en mer eller mindre nøyaktig posisjon.</p>

 <p>Slike lokasjonsoppslag krever <b>aktiv tillatelse fra brukeren</b>, bl.a. for å beskytte personvernet. Det er videre verdt å merke seg at <b>ikke alle nettlesere støtter slike oppslag</b>, men er for det meste støttet i de fleste populære og oppdaterte nettlesere. En oversikt over støttede nettelsere finner du <a href="http://caniuse.com/geolocation" target="_blank">her</a>. Under følger ytterligere informasjon for noen utvalgte nettlesere.</p>

 <a href="/" class="button">Gå tilbake</a>
</div>

<!-- Chrome -->
<div class="card">
 <div class="title">
  <h1><i class="fa fa-compass"></i> Chrome</h1>
 </div>

 <p></p>
</div>

{% include 'footer.html' %}