<!doctype html>

<html class="no-js" lang="no">
 <head>
  <meta charset="utf-8">
  <meta name="description" content="Hvor er jeg? Finn din gjeldende geografiske posisjon via nettleseren.">
  <meta name="keywords" content="lokasjon, min posisjon, hvor er jeg, geolocation, geografi">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#0085B2">

  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
  <title>Hvor er jeg?{% block title %}{% endblock %}</title>

  <!-- CSS -->
  <link type="text/css" href="{{ url_for('static', filename='foundation-5.3.1.min.css') }}" rel="stylesheet">
  <link type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <link type="text/css" href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">

  <!-- JS -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='modernizr-2.8.3.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='foundation-5.3.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='moment-2.8.1.min.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
 </head>

 <body>
  <div class="not-supported">Din nettleser er dessverre ikke støttet. Det kan være nødvendig å oppgradere til en nyere versjon. Les mer <a href="http://caniuse.com/geolocation">her</a>.</div>

  <div class="container">
   <div class="row">
    <div class="small-0 medium-2 columns show-for-medium-up"></div>
    <div class="small-12 medium-8 columns" id="main">
     <!-- Content -->
     {% block content %}{% endblock %}

     <!-- Footer -->
     <footer>
      <i class="fa fa-paw"></i>
      <a href="http://www.petterhj.net">Petter Holt Juliussen</a>
      <i class="fa fa-github"></i>
      <a href="https://github.com/petterhj/mingeo">GitHub</a>
     </footer>

    </div>
    <div class="small-0 medium-2 columns show-for-medium-up"></div>
   </div>
  </div>
 </body>
</html>