{% extends "base.html" %}

{% block content %}
<!-- Location -->
<div class="card location">
 <div class="title">
  <h1><i class="fa fa-map-marker"></i>Min geografiske posisjon</h1>
  <span class="label radius show-for-medium-up" id="accuracy_text"></span>
  <span class="label radius secondary" id="client"><i class="fa fa-user"></i><span></span></span>
 </div>

 <table>
  <tr>
   <td><i class="fa fa-arrows-h"></i></td>
   <td>Breddegrad</td>
   <td id="latitude"><span></span><span></span></td>
  </tr>
  <tr>
   <td><i class="fa fa-arrows-v"></i></td>
   <td>Lengdegrad</td>
   <td id="longitude"><span></span><span></span></td>
  </tr>
  <tr>
   <td><i class="fa fa-chevron-up"></i></td>
   <td>Høyde</td>
   <td id="altitude"></td>
  </tr>
  <tr><td colspan="3"><hr></td></tr>
  <tr>
   <td><i class="fa fa-flag"></i></td>
   <td>Adresse</td>
   <td id="address"></td>
  </tr>
  <tr><td colspan="3"><hr></td></tr>
  <tr>
   <td><i class="fa fa-crosshairs"></i></td>
   <td>Nøyaktighet</td>
   <td id="accuracy"></td>
  </tr>
  <tr>
   <td><i class="fa fa-clock-o"></i></td>
   <td>Tidspunkt</td>
   <td id="time"></td>
  </tr>
 </table>

 <!-- Feedback -->
 <a class="button disabled warning"><i class="fa fa-spinner fa-spin"></i>Avventer posisjon/tillatelse...</a>
</div>

<!-- Map -->
<div class="card map"></div>

<!-- Info -->
<div class="card info">
 <p><i class="fa fa-warning"></i> Tjenesten baserer seg på (mer eller mindre) <b>omtrentlige data</b>, avhengig av bl.a. nettleseregenskaper og din enhets sensorer. Datakvaliteten er videre begrenset av dine innstillinger knyttet til disse egenskapene. Det er følgelig ingen garanti for at oppgitt posisjon er korrekt. Sjekk alltid at dataene stemmer med omgivelsene!</p>
 <p><i class="fa fa-user"></i> Ingen identifiserende <b>personopplysninger</b> lagres eller prosesseres av denne tjenesten. Det eneste som eventuelt registreres (selvvalgt) er breddegrad, lengegrad, høyde, tidspunkt og nøyaktighet (i meter).</p>
 <p><i class="fa fa-support"></i> Delte posisjoner kan <a href="/monitor">følges her</a>.</p>
</div>
{% endblock %}