{% extends "base.html" %}

{% block title %} | Monitor{% endblock %}

{% block js %}
  MON.init($('div.card.monitor'));
{% endblock %}

{% block content %}
<!-- Monitor -->
<div class="card monitor">
 <div class="title">
  <h1><i class="fa fa-compass"></i>Delte posisjoner</h1>
  <span class="label radius" id="clients"><i class="fa fa-group"></i><span></span></span>
  <span class="label radius secondary" id="client"><i class="fa fa-user"></i><span></span></span>
  <span class="label radius" id="playback"></span>
  <span class="label radius warning" id="status"><i class="fa fa-spinner fa-spin"></i>Kobler til...</span>
 </div>

 <!-- Locations -->
 <table>
  <thead>
   <tr>
    <th><i class="fa fa-clock-o"></i>Tidspunkt</th>
    <th><i class="fa fa-user"></i>Klient</th>
    <th><i class="fa fa-location-arrow"></i>Posisjon</th>
   </tr>
  </thead>
  <tbody></tbody>
 </table>
</div>

<!-- Location -->
<div class="card back">
 <a class="button" href="/"><i class="fa fa-map-marker"></i>Tilbake til min posisjon</a>
</div>
{% endblock %}